/YoutTube\ Music
/bitburner
/composer
/dconf
/discord
/gh
/github-copilot
/libreoffice
mimeapps.list
/obsidian
pavucontrol.ini
/pulse
/qt5ct
/systemd
user-dirs.dirs 
user-dirs.locale
/xfce4
gtk-3.0
/cmus/command-history
/cmus/search-history
Hyprland-xdg-terminals.list
xdg-terminals.list
/btop/btop.log
/cmus/cache
/cmus/command-history
/cmus/lib.pl


